.map-border{border:1px solid #330000;}

/* Contact Box and Form
------------------------------------------------- */

#Contact_Box {
	width: 500px;
	margin: 10px auto;
	padding: 10px 0px 5px 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #333;
	background-color:#F6F1E6;
	border: 1px #330000 solid;
	text-align: left;
	line-height: 1.3;
	}

#Contact_Box .Contact_Clear {
	clear: both;
	display: block;
	height: 0px;
	margin: 0;
	padding: 0;
	}

#Contact_Box .Address_Box {
	float: left;
	width: 200px; /* 250 */
	padding: 3px 0px 0px 30px !important;
	margin: 0px 0px 0px 0px;
	background: url(../images/contact/home_icon.gif) no-repeat 5px 0px;
	overflow: hidden;
	}
#Contact_Box .Address_Box.second{
	margin-top: -45px;
}
#Contact_Box div {
	float: left;
	width: 250px; /* 250 */
	margin: 0;
	}

#Contact_Box div .Phone_Box {
	float: left;
	width: 210px; /* 250 */
	padding: 3px 10px 10px 30px !important;
	margin: 0;
	background: url(../images/contact/phone_icon.gif) no-repeat 5px 0px;
	overflow: hidden;
	}

#Contact_Box div .Email_Box {
	float: left;
	width: 210px; /* 250 */
	padding: 3px 10px 0px 30px !important;
	margin: 0;
	background: url(../images/contact/email_icon.gif) no-repeat 5px 0px;
	overflow: hidden;
	margin-top: 25px;
	}

#Contact_Box div .Email_Box a {

	}
#Contact_Box p { color: #000 !important; }

#Contact_Box p a{ color:#000000; text-decoration:none;}
#Contact_Box p a:hover{ text-decoration:underline;}

/* Contact Form */
#Form_Container {
	width: 500px;
	margin: 10px auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px !important;
	font-weight: normal;
	color: #333;
	background-color: #F6F1E6;
	border: 1px #330000 solid;
	line-height:1;
	text-align:left;
	color:#000;
	}

#Form_Container h2 {
	float: left;
	width: 498px;
	margin: 0 auto;
	padding: 5px 0px 5px 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #FFF;
	background-color: #D90000;
	border: 1px #F9F8F5 solid;
	text-align: center;
	}

#Form_Container form .Form_Full {
	clear: both;
	/*float: left;*/
	width: 500px; /* 500px */
	margin: 0;
	padding: 5px 0px 0px 0px;
	}

#Form_Container form .Form_Text {
	clear: both;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #000;
	text-align: center;
	padding: 5px 0px 3px 0px !important;
	margin: 0;
	}

#Form_Container span.required {
	color: #F00;
	}

#Form_Container form .Form_Full label {
	float: left;
	width: 90px; /* 100px */
	margin: 0px 0px 0px 20px;
	padding: 8px 5px 0px 5px;
	}

#Form_Container form .Form_Full p {
	float: left;
	width: 350px; /* 380px */
	margin: 0;
	padding: 5px 5px 0px 5px !important;
	}

#Form_Container form .Form_Full p input {
	margin: 0;
	width: 345px; /* 365px */
	border: 1px #CCC solid;
	}

#Form_Container form .Form_Full p textarea {
	margin: 0;
	width: 345px; /* 365px */
	border: 1px #CCC solid;
	}

#Form_Container form .Form_Half {
	float: left;
	width: 240px;
	padding: 5px 0px 0px 0px;
	}

#Form_Container form .Form_Half label {
	float: left;
	width: 95px;
	margin: 0px 0px 0px 20px;
	padding: 5px 0px 0px 5px;
	}

#Form_Container form .Form_Half label.center {
	text-align: center;
	}

#Form_Container form .Form_Half p {
	float: left;
	width: 100px;
	margin: 0;
	padding: 5px 0px 0px 5px !important;
	}

#Form_Container form .Form_Half p input {
	float: left;
	width: 100px;
	margin: 0;
	padding: 0;
	border: 1px #CCC solid;
	}

#Form_Container form .Form_Half p select {
	float: left;
	width: 90px;
	margin: 0;
	padding: 0;
	border: 1px #CCC solid;
	}

#Form_Container form .Form_Submit {
	clear: both;
	width: 305px; /* 500px */
	margin: 0;
	padding: 20px 0px 15px 195px;
	}

#Form_Container form .Form_Submit input {
	margin: 0;
	}

/* Form Submit */
#Form_Submit_Container {
	width: 500px;
	margin: 10px auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #333;
	text-align: center;
	}

#Form_Submit_Container h4 {
	margin: 0;
	padding: 10px 0px 10px 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #000;
	text-align: center;
	}

/* Email Template */
#Email_Template {
	width: 500px;
	border: 1px #330000 solid;
	margin: 0 auto;
	background-color: #F3F1EB;
	table-layout: fixed;
	border-collapse: separate;
	border-spacing: 2px 2px;
	empty-cells: show;
	font-size:12px;
	color:#000;
	}

#Email_Template th {
	width: 115px; /* 120px */
	text-align: left;
	padding: 3px 0px 3px 5px;
	background: #F9F8F5;
	vertical-align: top;
	}

#Email_Template td {
	width: 380px;
	text-align: left;
	overflow: hidden;
	}

#errorCode{ text-align:center; margin:0 auto; width:500px; font-size:12px; color:#F00; padding-top:10px;}

#Email_Message{ width:500px; text-align:center; margin:0 auto; padding:15px 0 0 0;}
