
/* gallery */
#content .gallery { list-style: none; margin:0; padding:15px 0 0 25px; display:inline-block;}
#content .container { margin:0; padding:0; }
#content .gallery li { float:left; text-align:center; padding:0 9px 0 9px; margin:0; color:#000000;}
#content .gallery li a{ text-decoration:none;}
#content .gallery li a img{ border:4px solid #628D0A; width:200px; height:200px; padding:2px; border-radius:4px; -moz-border-radius:4px; background:#727272;}
#content .gallery li a:hover img{ border:4px solid #628D0A; background:#FFF;}
#content .gallery li span{ font-family:Arial; font-size:10px; line-height:1 !important; display:inline-block;}

#content .page_navigation{ padding:20px 0 20px 0; margin:0; text-align:center;}
#content .page_navigation a,.ellipse{ text-align:center; display:inline-block; margin:0 3px; color:#628D0A; background:none; padding:3px 5px 3px 5px; text-decoration:none; font-size:12px; font-weight:bold; font-family:Arial; border:1px solid #628D0A;}
#content .page_navigation a:hover, #content .page_navigation a.active_page{ display:inline-block; margin: 0 3px; color:#727272;}