/* CSS Document */
@media screen and (max-width: 1200px) {
	
} 

/* 10" netbook  */
@media screen and (max-width: 1024px) {
    *,
	*:before,
	*:after {
	  -webkit-box-sizing: inherit;
	  -moz-box-sizing: inherit;
	  box-sizing: inherit; }

	@-webkit-viewport{width:device-width} 
	@-moz-viewport{width:device-width} 
	@-ms-viewport{width:device-width} 
	@-o-viewport{width:device-width} 
	@viewport{width:device-width}
}



/* Kindle Fire HD 8.9 */
@media screen and (max-width: 800px) {
	
} 



/* apple ipad all */
@media screen and (max-width: 768px) {
    
}


/* iPhone 6 Plump landscape */
@media screen and (max-width: 736px) {
    
}


/* iPhone 6 landscape */
@media screen and (max-width: 667px) {
    
}


/* google nexus 7 */
@media screen and (max-width: 603px) {
    
}

@media screen and (max-width: 600px) {
	
}

/* iPhone 5 landscape */
@media screen and (max-width: 568px) {
    
}


@media screen and (min-width: 550px){

	/* captcha */
	#captcha { padding:10px 0 0 125px; }		
}


/* kindle fire HD 7" */
@media screen and (max-width: 533px) {
    
}


/*nokia lumia*/
@media only screen and (max-width : 460px) {
	
    #Contact_Box { width: 95%; }
	#Contact_Box .Address_Box { float: none; width: 90%; }

	#Form_Container { width: 95%; box-sizing: border-box; }
	#Form_Container h2 { width: 100%; }
	#Form_Container form .Form_Full label { float: none; text-align: left; margin-left: 5px; font-weight: bold;}
	#Form_Container form .Form_Half label { font-weight: bold; }
	#Form_Container form .Form_Full p,#Form_Container form .Form_Full { float: none; margin-top: 10px; width: 100%; }
	#captcha { width: 100%; padding: 0 !important; margin: 10px auto; }
	#recaptcha_widget_div, #recaptcha_area, #recaptcha_table, #recaptcha_image { width: 95% !important; margin: 0 auto; }
	#recaptcha_image img { width: 100%; }

	#Form_Container form .Form_Full p input, #Form_Container form .Form_Full p textarea { width: 97%; padding: 5px 0; text-indent: 10px;}
	#Form_Container form .Form_Submit { width: 80%; padding: 15px 0; margin: 0 auto; }
	#Form_Container form .Form_Submit input { display: block; margin: 0 auto; }

	#captcha { width: 100%; padding: 0 !important; margin: 10px auto; }
	#recaptcha_area, #recaptcha_table, #recaptcha_image { width: 95% !important; margin: 0 auto; }
	#recaptcha_image img { width: 100%; }
}



/* apple iPhone 6 plus */
@media screen and (max-width: 414px) {
	
}


/* samsung galaxy tab */
@media screen and (max-width: 384px) {
    
}


/* samsung galaxy tab */
@media screen and (max-width: 375px) {
    
}



/* samsung galaxy s5 */
@media only screen and (max-width : 360px) {
	
}



/*Smartphone*/
@media only screen and (max-width : 320px) {
	
}


@media only screen and (max-width : 270px) {
	
	#captcha { display: none; }
	#Form_Container form .Form_Half { width: 100%; }
	#Form_Container form .Form_Half label { margin: 0; }

	#Contact_Box div { width: 100%; }
	#Contact_Box div .Phone_Box { width: 100%; }
	#Contact_Box div .Email_Box { width: 100%; }
}