/* default */
@font-face { font-family:"BebasNeue";
	src:url("BebasNeue.eot?") format("eot"),
		url("BebasNeue.woff") format("woff"),
		url("BebasNeue.ttf") format("truetype"),
		url("BebasNeue.svg#Lobster1.4") format("svg");
	font-weight:normal;font-style:normal;
}
*{margin: 0; padding: 0; -webkit-transition-duration: 0.7s; -moz-transition-duration: 0.7s; transition-duration: 0.7s; }
a{text-decoration: none;}
img{border: 0;}
h1,h2,h3,h4,h5{ padding:0; margin:0; font-weight: normal; }
.hidden{ text-indent:-999em; overflow:hidden;}
hr.hide-line{ padding:0; margin:0; display:none;}
.clear{ clear:both;}
.clearfix:after {content:"."; display:block; height:0; clear:both;visibility:hidden;}
.clearfix {display:inline-block;}

/* Hide from IE Mac \*/
.clearfix {display:block;}/* End hide from IE Mac */

/*nojavascript*/
.nojavascript{ position:absolute; z-index:1; color:red; background:#fff; font:bold 12px 'Trebuchet MS',Arial,georgia, San-serif; border:2px red dashed; width:990px; top:0; left:50%; margin-left:-495px; }
.container{margin:0 auto; width: 1130px; position: relative; padding: 0; }
.container2{margin:0 auto; width: 1015px; position: relative; padding: 0; }
.container3{margin:0 auto; width: 980px; position: relative; padding: 0; }
.container4{margin:0 auto; width: 1060px; position: relative; padding: 0; }
.container5{margin:0 auto; width: 1100px; position: relative; padding: 0; }
.green { color: #209860; }
.red { color: #D90000; }

/* Body */
body{ font: 100% Arial, Helvetica, sans-serif; background:#fff; margin:0 auto; padding:0; text-align: center; color:#333; max-width: 1440px; min-width: 1250px; }

.slicknav_menu {
	display:none;
}

/* main */
#main{position:relative; margin:0 auto; padding:0;}
#main.main { background: url(../images/common/main.jpg) no-repeat center top; background-size: 100% 100%; padding: 180px 0 40px; }
#main.inner { background: #D90000; padding: 30px 0; }

/* header */
#header{ margin: 0 auto; background: #D90000; position: relative; padding: 25px 0 0; border-bottom: 3px solid #fff; }
#header .nav ul{ display:block; text-align:center; padding:0;}
#header .nav ul li { display:inline-block; vertical-align: middle; font-family:"BebasNeue"; font-size: 20px; color: #fff; padding: 0 85px; letter-spacing: 2px; }
#header .nav ul li:first-child { padding-left: 0; }
#header .nav ul li:last-child { padding-right: 0; }
#header .nav ul li a { display: block; color: #fff; padding: 0 10px 20px; }
#header .nav ul li a:hover, #header .nav ul li.active-menu a{ background: url(../images/common/hov.png) no-repeat center bottom; }

/*banner*/
#banner { background: url(../images/common/banner.jpg) no-repeat center top; background-size: 100% 100%; margin: 0 auto; padding:0; height: 530px; }
#banner .logo { position: absolute; left: 0; right: 0; top: 0; margin: 0 auto; z-index: 999; }
#banner .bnr-left { width: 210px; float: left; position: relative; margin-left: 15px; text-align: left; padding: 40px 0 0; }
#banner .bnr-left ul { margin: 10px 0 0; text-align: left; position: relative; padding: 0; }
#banner .bnr-left ul li { display: inline-block; vertical-align: top; position: relative; }
#banner .bnr-left ul li a { display: block; height: 29px; width: 29px; position: relative; }
#banner .bnr-left ul li a.fb { background: url(../images/common/soc-fb.png) no-repeat center top; background-size: 100% 100%; }
#banner .bnr-left ul li a.fb:hover { background: url(../images/common/soc-fb-hov.png) no-repeat center top; background-size: 100% 100%; }
#banner .bnr-left ul li a.gp { background: url(../images/common/soc-gp.png) no-repeat center top; background-size: 100% 100%; }
#banner .bnr-left ul li a.gp:hover { background: url(../images/common/soc-gp-hov.png) no-repeat center top; background-size: 100% 100%; }
#banner .bnr-left ul li a.tb { background: url(../images/common/soc-tb.png) no-repeat center top; background-size: 100% 100%; }
#banner .bnr-left ul li a.tb:hover { background: url(../images/common/soc-tb-hov.png) no-repeat center top; background-size: 100% 100%; }
#banner .bnr-left ul li a.in { background: url(../images/common/soc-in.png) no-repeat center top; background-size: 100% 100%; }
#banner .bnr-left ul li a.in:hover { background: url(../images/common/soc-in-hov.png) no-repeat center top; background-size: 100% 100%; }
#banner .bnr-left ul li a.tw { background: url(../images/common/soc-tw.png) no-repeat center top; background-size: 100% 100%; }
#banner .bnr-left ul li a.tw:hover { background: url(../images/common/soc-tw-hov.png) no-repeat center top; background-size: 100% 100%; }
#banner .bnr-left ul li a.yt { background: url(../images/common/soc-yt.png) no-repeat center top; background-size: 100% 100%; }
#banner .bnr-left ul li a.yt:hover { background: url(../images/common/soc-yt-hov.png) no-repeat center top; background-size: 100% 100%; }
#banner .bnr-right { width: 210px; float: right; position: relative; margin-right: 15px; text-align: right; padding: 40px 0 0; }
#banner h2 { font-family: 'Lato', sans-serif; font-weight: 700; font-size: 14px; color: #DDDDDD; line-height: 1; }
#banner .bnr-right h3 { font-family:"BebasNeue"; font-size: 36px; color: #D80000; }
#banner .bnr-right h3 a { background: url(../images/common/tel.png) no-repeat center left; padding-left: 23px; color: #D80000; }
#banner .bnr-right h3 a:hover { color: #fff; }
#banner p { position: relative; font-family:"BebasNeue"; font-size: 26px; color: #fff; text-shadow: -1px 0px 2px rgba(0, 0, 0, 1); }
#banner .bnr-con { position: absolute; left: 0; right: 0; top: 110px; margin: 0 auto; z-index: 99; }
#banner .bnr-con img { width: 100%; position: relative; }
#banner .bnr-con .bnr-content { position: relative; margin: -70px auto 0; z-index: 99; }
#banner .bnr-con a { display: block; width: 248px; background: #EA0012; border: 1px solid #EA0012; margin: 10px auto 0; font-family:"BebasNeue"; font-size: 32px; color: #fff; letter-spacing: 3px; padding: 12px 0 7px; position: relative; z-index: 999; }
#banner .bnr-con a:hover { background: #fff; color: #EA0012; }
			
/* sidebar */
#sidebar { float:right; width:377px; position: relative; padding: 0; }		
#sidebar img { width: 100%; }	
#sidebar p { font-family: 'Lato', sans-serif; font-weight: 700; font-size: 17px; color: #FF0000; margin: 10px 0 20px; line-height: 1.3; }
#sidebar a { display: block; width: 160px; background: #FF0000; border: 1px solid #FF0000; padding: 10px 0; font-family: 'Oswald', sans-serif; font-size: 15px; color: #fff; letter-spacing: 3px; margin: 0 auto; }
#sidebar a:hover { color: #FF0000; background: #fff; }
			
/* content */
#content{ float:left; width:569px; position: relative; padding: 50px 0 0; }		
#main.inner #content { background: #000; padding: 20px 10px 20px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; width: 100%; min-height: 300px; }
.main #content h2 { text-align: left; font-family: 'Lato', sans-serif; font-weight: 700; font-size: 22px; color: #DDDDDD; line-height: 1; }	
#content h1 { text-align: left; font-family:"BebasNeue"; font-size: 73px; color: #fff; margin: 0 0 5px; }	
#content h1 span { color: #FF0000; }
#content p { text-align: left; font-family: 'Lato', sans-serif; font-weight: 400; font-size: 16px; color: #fff; line-height: 1.4; margin: 0 0 15px; }
#content p span { color: #FF0000; }
.main #content p { margin: 20px 0 20px; }
.main #content a { display: block; width: 160px; background: #FF0000; border: 1px solid #FF0000; padding: 10px 0; font-family: 'Oswald', sans-serif; font-size: 15px; color: #fff; letter-spacing: 3px; }
.main #content a:hover { color: #FF0000; background: #fff; }

/* content bottom */
#content-bottom { margin: 0 auto; position: relative; background: url(../images/common/cb.jpg) no-repeat center top; background-size: 100% 100%; padding: 25px 0 0; height: 624px; }
#content-bottom h2 { font-family:"BebasNeue"; font-size: 73px; color: #fff; text-shadow: -1px 0px 2px rgba(0, 0, 0, 1); }
#content-bottom h2 span { color: #FF0000; }
#content-bottom p { font-family:"BebasNeue"; font-size: 18px; color: #fff; margin: 0 0 15px; line-height: 1.3; }
#content-bottom .cb-con { background: #D90000; padding: 45px 10px 20px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; position: relative; z-index: 999; }
#content-bottom dl { display: inline-block; vertical-align: top; width: 440px; position: relative; margin: 0; padding: 0; }
#content-bottom dl:nth-of-type(1),
#content-bottom dl:nth-of-type(2) { margin-bottom: 15px; }
#content-bottom dl:nth-of-type(1),
#content-bottom dl:nth-of-type(3) { margin-right: 15px; }
#content-bottom dl dt { position: relative; margin: 0; padding: 0; }
#content-bottom dl dt img { width: 100%; }
#content-bottom dl dd { height: 251px; position: absolute; left: 0; top: 0; margin: 0; padding: 10px 15px 20px; background: url(../images/common/dd.png) no-repeat center top; background-size: 100% 100%; width: 253px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
#content-bottom dl dd strong { display: block; text-align: left; font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; font-size: 54px; font-weight: bold; color: #CCCCCC; }
#content-bottom dl dd span { text-align: left; display: block; font-family:"BebasNeue"; font-size: 22px; color: #fff; margin: 15px auto 25px; line-height: 1; }
#content-bottom dl dd a { font-family: 'Lato', sans-serif; font-weight: 400; font-size: 14px; color: #fff; background: #FF0000; border: 1px solid #FF0000; padding: 10px 0; width: 160px; display: block; }
#content-bottom dl dd a:hover { color: #FF0000; background: #fff; }
#content-bottom .cb-link { margin: 45px auto 0; display: block; font-family:"BebasNeue"; font-size: 26px; color: #fff; width: 255px; letter-spacing: 1px; border: 1px solid #fff; padding: 10px 0; }
#content-bottom .cb-link:hover { background: #000; }

/* team section */
#team-section { margin: 0 auto; position: relative; padding: 340px 0 70px; background: url(../images/common/team.jpg) no-repeat center top; background-size: 100% 100%; }
#team-section h2 { font-family:"BebasNeue"; font-size: 73px; color: #fff; text-shadow: -1px 0px 2px rgba(0, 0, 0, 1); margin: 0 0 10px; }
#team-section h2 span { color: #FF0000; }
#team-section img { display: inline-block; vertical-align: middle; position: relative; }
#team-section img:nth-of-type(2) { margin: 0 28px; }
#team-section img:nth-of-type(3) { margin-right: 28px; }

/* testimonials section */
#testimonials-section { margin: 0 auto; position: relative; background: url(../images/common/test.jpg) no-repeat center top; background-size: 100% 100%; padding: 20px 0 25px; }
#testimonials-section h3 { font-family:"BebasNeue"; font-size: 38px; color: #000; line-height: 1; }
#testimonials-section h2 { font-family:"BebasNeue"; font-size: 73px; color: #fff; margin-bottom: 10px; line-height: 1; }
#testimonials-section p { font-family: 'Lato', sans-serif; font-weight: 400; font-size: 15px; font-style: italic; line-height: 1.4; color: #fff; margin: 10px auto 15px; max-width: 830px; }
#testimonials-section h4 { font-family: 'Raleway', sans-serif; font-weight: 400; font-size: 18px; color: #fff; margin: 10px 0 0; }
#testimonials-section h5 { font-family: 'Raleway', sans-serif; font-weight: 400; font-size: 13px; color: #fff; margin: 0 0 20px; }
#testimonials-section a { font-family: 'Oswald', sans-serif; font-size: 15px; color: #fff; letter-spacing: 3px; display: block; margin: 0 auto; padding: 10px 0; background: #000; border: 1px solid #000; width: 160px; }
#testimonials-section a:hover { background: #fff; color: #000; }

/* product section */
#product-section { background: url(../images/common/proj.jpg) no-repeat center top; background-size: 100% 100%; position: relative; padding: 45px 0 85px; margin: 0 auto; }
#product-section h2 { font-family:"BebasNeue"; font-size: 73px; color: #fff; text-shadow: -1px 0px 2px rgba(0, 0, 0, 1); margin: 0 0 20px; }
#product-section h2 span { color: #FF0000; }
#product-section dl { display: inline-block; vertical-align: top; width: 135px; position: relative; margin: 0 3px; padding: 0; }
#product-section dl dt { position: relative; margin: 0; padding: 0; }
#product-section dl dt img { width: 100%; }
#product-section dl dd { position: relative; margin: -5px auto 0; padding: 0; background: #D90000; padding: 14px 10px 0; min-height: 50px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
#product-section dl:nth-of-type(3) dd,
#product-section dl:nth-of-type(5) dd,
#product-section dl:nth-of-type(6) dd { padding: 7px 10px 0; }
#product-section dl dd img { position: absolute; left: 0; right: 0; top: -5px; margin: 0 auto; }
#product-section dl dd span { display: block; font-family:"BebasNeue"; font-size: 15px; color: #fff; }

/* footer top */
#footer-top { margin: 0 auto; position: relative; padding: 0 0 45px; background: url(../images/common/ft.jpg) no-repeat center top; background-size: 100% 100%; }
#footer-top .tftr-left { float: left; position: relative; width: 426px; }
#footer-top .tftr-left h2 { background: #fff; padding: 10px 20px; font-family:"BebasNeue"; font-size: 73px; color: #fff; text-shadow: -1px 0px 2px rgba(0, 0, 0, 1), -1px 0px 2px rgba(0, 0, 0, 1); box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; text-align: left; }
#footer-top .tftr-left h2 span { color: #FF0000; }
#footer-top .tftr-left .form { background: #fff; margin: 0 auto; position: relative; width: 100%; padding: 15px 23px 20px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
#footer-top .tftr-left p { text-align: left; font-family: 'Lato', sans-serif; font-weight: 400; font-size: 15px; color: #525261; line-height: 1.2; margin: 0 0 15px; }
#footer-top .tftr-left input[type="text"] { width: 100%; padding: 7px 10px; background: #E7E7E7; border: 0; font-family: 'Lato', sans-serif; font-weight: 400; font-size: 15px; color: #666666; margin: 0 auto 5px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -moz-box-shadow: inset 1px 1px 1px #000000; -webkit-box-shadow: inset 1px 1px 1px #000000; box-shadow: inset 1px 1px 1px #000000; }
#footer-top .tftr-left textarea { resize: none; height: 80px; width: 100%; padding: 7px 10px; background: #E7E7E7; border: 0; font-family: 'Lato', sans-serif; font-weight: 400; font-size: 15px; color: #666666; margin: 0 auto 5px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -moz-box-shadow: inset 1px 1px 1px #000000; -webkit-box-shadow: inset 1px 1px 1px #000000; box-shadow: inset 1px 1px 1px #000000; }
#footer-top .tftr-left button[type="submit"] { font-family: 'Lato', sans-serif; font-weight: 700; font-size: 14px; color: #fff; background: #DC1C09; border: 1px solid #DC1C09; padding: 10px 0; width: 150px; margin: 10px auto 0; cursor: pointer; }
#footer-top .tftr-left button[type="submit"]:hover { background: #000; }
#footer-top .tftr-right { float: right; position: relative; width: 560px; padding: 120px 0 0; }
#footer-top .tftr-right h2 { text-align: left; font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; font-size: 42px; font-weight: bold; color: #fff; }
#footer-top .tftr-right h3 { text-align: left; font-family:"BebasNeue"; font-size: 73px; color: #fff; line-height: 1; }
#footer-top .tftr-right h3 span { color: #FF0000; }
#footer-top .tftr-right p { text-align: left; font-family: 'Lato', sans-serif; font-weight: 700; font-size: 15px; color: #CCCCCC; line-height: 1.4; margin: 0 0 15px; }
#footer-top .tftr-right a.link { font-family: 'Oswald', sans-serif; font-size: 15px; color: #fff; letter-spacing: 3px; display: block; margin: 0 0 60px; padding: 10px 0; background: #FF0000; border: 1px solid #FF0000; width: 160px; }
#footer-top .tftr-right a.link:hover { background: #000; }
#footer-top .tftr-right h5 { font-family: 'Lato', sans-serif; font-weight: 400; font-size: 13px; color: #757584; margin: 0 0 10px; }
#footer-top .tftr-right ul { margin: 0; padding: 0; list-style: none; text-align: left; }
#footer-top .tftr-right ul li { padding: 0; display: inline-block; vertical-align: middle; }
#footer-top .tftr-right .ftr-soc { position: relative; float: left; width: 230px; text-align: left; }
#footer-top .tftr-right .cards { position: relative; float: right; width: 280px; text-align: right; }

/* footer */
#footer {margin:0 auto; background:#000; padding: 80px 0 30px; position:relative;}
#footer .ftr-left { float: left; position: relative; width: 533px; }
#footer .ftr-right { float: right; position: relative; width: 566px; }
#footer .ftr-right h2 { font-family:"BebasNeue"; font-size: 32px; color: #B20000; margin: 0 0 10px; text-align: left; }
#footer .ftr-right ul { margin: 0; padding: 0; list-style: none; }
#footer .ftr-right ul li { font-family:"BebasNeue"; font-size: 20px; color: #999999; padding: 0 0 10px; line-height: 1.6; }
#footer .ftr-right ul li:last-child { padding: 0; }
#footer .ftr-right ul li a { color: #999999; }
#footer .ftr-right ul li a:hover { color: #fff; }
#footer .inr-left { float: left; position: relative; width: 231px; border-left: 1px solid #333333; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; padding:0 30px 0 50px; text-align: left; min-height: 235px; }
#footer .inr-right { float: right; position: relative; width: 334px; border-left: 1px solid #333333; border-right: 1px solid #333333; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; min-height: 235px; padding: 0 40px 0 45px; }
#footer .inr-right iframe { width: 100%; height: 135px; }
#footer .inr-right a { display: block; float: right; width: 140px; border: 1px solid #999999; padding: 10px 33px 10px 5px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; background: url(../images/common/arw2.png) no-repeat center right 5px; font-family: 'Lato', sans-serif; font-weight: 400; font-size: 13px; color: #fff; margin: 15px 0 0; }
#footer .inr-right a:hover { background: #B20000; }
#footer .inner-left { float: left; position: relative; width: 287px; border-left: 1px solid #333333; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; min-height: 235px; }
#footer .inner-left h2 { font-family:"BebasNeue"; font-size: 36px; color: #D80000; margin: 15px 0; }
#footer .inner-left h2 a { background: url(../images/common/tel.png) no-repeat center left; padding-left: 20px; color: #D80000; }
#footer .inner-left h2 a:hover { color: #fff; }
#footer .inner-left p { max-width: 210px; margin: 0 auto; font-family: 'Lato', sans-serif; font-weight: 400; font-size: 13px; color: #fff; }
#footer .inner-right { float: right; position: relative; width: 245px; border-left: 1px solid #333333; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; min-height: 235px; padding: 0 40px 0 15px; text-align: left; }
#footer .inner-right h2 { font-family:"BebasNeue"; font-size: 32px; color: #B20000; margin: 0 0 10px; }
#footer .inner-right h3 { text-align: left; font-family: 'Lato', sans-serif; font-weight: 400; font-size: 13px; color: #CCCCCC; }
#footer .inner-right h3.tel { background: url(../images/common/tel2.png) no-repeat center left; padding-left: 25px; }
#footer .inner-right h3.add { background: url(../images/common/loc.png) no-repeat center left; padding-left: 25px; }
#footer .inner-right h3.email { background: url(../images/common/mail2.png) no-repeat center left; padding-left: 25px; }
#footer .inner-right h4 { text-align: left; font-family:"BebasNeue"; font-size: 36px; color: #999999; margin: 0 0 10px; line-height: 1; }
#footer .inner-right h4 a { color: #999999; }
#footer .inner-right h4 a:hover { color: #D80000; }
#footer .inner-right h5 { text-align: left; font-family:"BebasNeue"; font-size: 18px; color: #999999; margin: 5px 0 10px; line-height: 1; }
#footer .inner-right h6 { text-align: left; font-family:"BebasNeue"; font-size: 18px; color: #999999; margin: 5px 0 10px; line-height: 1; }
#footer .inner-right h6 a { color: #999999; }
#footer .inner-right h6 a:hover { color: #D80000; }
#footer .silverc-text{ font-family: 'Lato', sans-serif; font-weight: 400; font-size: 15px; color: #fff; margin:25px 0 0; }
#footer .silverc-text a {text-decoration:none; color:#fff;}
#footer .silverc-text a:hover {text-decoration:none; color:#FF0000;}
#footer .silverc-text .silverc-logo { margin:0; padding:0; width:65px; position:relative; top:7px; left:0;}
#footer .silverc-text span { position:relative; display:inline-block; margin:0; padding:0;}

/* inner pages */
.inner #content .abt-pics { max-width: 770px; position: relative; width: 100%; margin: 10px auto; }
.inner #content .abt-pics .ab-left { float: left; position: relative; width: 250px; }
.inner #content .abt-pics .ab-right { float: right; position: relative; width: 260px; }
.inner #content .abt-pics .ab-right img { width: 100%; }
.inner #content .abt-pics .ab-right img:first-of-type { margin: 0 0 20px; }
.inner #content .abt-pics .abt-left { float: left; position: relative; width: 530px; }
.inner #content .abt-pics .abt-right { float: right; position: relative; width: 220px; }
.inner #content .abt-pics .abt-right img { width: 100%; }
.inner #content .abt-box { width: 31%; display: inline-block; vertical-align: top; }
.inner #content .abt-box h2 { font-family:"BebasNeue"; font-size: 24px; color: #D80000; margin: 0 0 10px; }
.inner #content .abt-box h3 { font-family: 'Lato', sans-serif; font-weight: 600; font-size: 19px; color: #fff; }
.inner #content .abt-box h3 span { color: #D80000; }
.inner #content .abt-box h4 { font-family: 'Lato', sans-serif; font-weight: 400; font-size: 18px; color: #fff; }
.inner #content .abt-box h4 a { color: #fff; }
.inner #content .abt-box h4 a:hover { color: #D80000; }

.inner #content .serv-box { position: relative; margin: 10px auto; padding: 0 0 10px; max-width: 960px; border-bottom: 3px solid #fff; }
.inner #content .serv-box iframe { width: 600px; height: 300px; margin: 0 auto 10px; }
.inner #content .serv-box h3 { text-align: left; font-family: 'Lato', sans-serif; font-weight: 600; font-size: 19px; color: #fff; }
.inner #content .serv-box h2 { text-align: left; font-family:"BebasNeue"; font-size: 30px; color: #D80000; }
.inner #content .serv-box h6 { text-align: left; font-family: 'Lato', sans-serif; font-weight: 600; font-size: 18px; color: #fff; }
.inner #content .serv-box h6 span { font-family:"BebasNeue"; color: #D80000; font-size: 26px; }
.inner #content .serv-box h4 { font-family: 'Lato', sans-serif; font-weight: 600; font-size: 22px; color: #fff; margin: 10px 0; }
.inner #content .services-pics { max-width: 770px; position: relative; margin: 10px auto; }
.inner #content .services-pics img { display: inline-block; vertical-align: top; width: 245px; margin: 3px; height: 180px; }
.inner #content .serv-left { float: left; width: 200px; margin: 0 10px 10px 0; }
.inner #content .fire-inline { width: 430px; display: inline-block; vertical-align: top; }
.inner #content .fire-inline2 { width: 200px; display: inline-block; vertical-align: top; }
.inner #content .fire-type { width: 180px; height: 250px; margin: 10px auto 0; }
.inner #content .serv-box ul { margin: 10px 0 10px 20px; list-style: square; text-align: left; }
.inner #content .serv-box ul li { font-family: 'Lato', sans-serif; font-weight: 400; font-size: 16px; color: #fff; line-height: 1.3; margin: 0 0 5px; }
.inner #content .serv-box ul li span { color: #D80000; }
.inner #content .serv-box p a { color: #D80000; }
.inner #content .serv-box p a:hover { text-decoration: underline; }
.inner #content .services-desc { display: inline-block; vertical-align: top; width: 24%; }
.inner #content .services-desc img { width: 100%; height: 190px; }
.inner #content .services-desc h5 { font-family:"BebasNeue"; color: #fff; font-size: 24px; margin: 10px 0 0; }
.inner #content .serv-box table { width: 550px; margin: 10px auto; border: 2px solid #D80000; }
.inner #content .serv-box table th,
.inner #content .serv-box table td { font-family: 'Lato', sans-serif; font-weight: 400; font-size: 16px; color: #000; line-height: 1.3; background: #FCAF17; padding: 10px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
.inner #content .serv-box table th { font-weight: 900; font-size: 18px; }
.inner #content .serv-box table th:first-of-type { width: 60%; }
.inner #content .serv-box table th:nth-of-type(2) { width: 40%; }

/*REVISION CSS*/
#banner .bnr-right { width: unset; }
#footer-top .tftr-right .cards { float: left; text-align: left; }
/*#sidebar { padding-top: 55px; }*/

#banner { position: relative; }
#banner .bnr-con { z-index: 1; }
#w-text { position: absolute; z-index: 2; top: 10px; left: 0; right: 0; padding: 15px 30px 0; background: #000; border: 2px solid #fff; width: -webkit-max-content; width: -moz-max-content; margin: auto;}
#w-text h2 { font-family:"BebasNeue"; font-size: 73px; color: #fff; margin: 0 0 5px; line-height: 100%; }
#w-text h2 span { display: block;font-family: 'Lato', sans-serif; font-weight: 700; font-size: 22px; color: #DDDDDD; line-height: 1; }
#w-text h2 i {font-style: normal; color: #FF0000; }

/*contact form revision*/
